.main{
    background-image:linear-gradient(to left, transparent, black),
            url("/static/images/header_image.jpg");

    background-size: cover;
    overflow:auto;
    width:100%;
    height: 100%;
    background-position: 0 30%;
    margin: -8px;
}

.dd{
    overflow:auto;
}

.texttop{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 36px;
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 3%;
}

.btn{
    margin: 3% 0 5% 3%;
    background-color: #82ac29;
    font-size: 24px;
    border: none;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
}

.dsm1{
    margin: 2% 5% 0 5%;
    font-size: 24px;
    padding: 1em;
    border-radius: 12px;
    background-color: white;
    background-image: url("/static/images/vac.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
}

@media (max-width: 1400px) {
    .dsm1 {
        background-position-x: 90%;
        background-size: 300px;
        background-position-y: 100%;
    }
}

@media (max-width: 1100px) {
    .dsm1 {
       background-image: none;
    }
}

.dsm2{
    margin: 2% 5% 0 5%;
    font-size: 24px;
    padding: 1em 1em 1em 50%;
    border-radius: 12px;
    background-color: white;
    background-image: url("/static/images/kaef.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-position-y: 50%;
}

@media (max-width: 1100px) {
    .dsm2 {
        padding: 1em;
        background-image: none;
    }
}

.dsm3{
    margin: 2% 5% 0 5%;
    font-size: 24px;
    padding: 1em;
    border-radius: 12px;
    background-color: white;
    background-image: url("/static/images/rost.png");
    background-size: 330px;
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 50%;
}

@media (max-width: 1100px) {
    .dsm3 {
       background-image: none;
    }
}

.dsm4 {
    margin: 2% 5% 0 5%;
    font-size: 24px;
    padding: 1em 1em 1em 50%;
    border-radius: 12px;
    background-color: white;
    background-image: url("/static/images/lichnost.png");
    background-size: 350px;
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-position-y: 50%;
}

@media (max-width: 1100px) {
    .dsm4 {
        padding: 1em;
        background-image: none;
    }
}

.dsm5{
    margin: 2% 5% 0 5%;
    font-size: 24px;
    padding: 1em;
    border-radius: 12px;
    background-color: white;
    background-image: url("/static/images/garant.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 50%;
}

@media (max-width: 1100px) {
    .dsm5 {
       background-image: none;
    }
}

.dsm6 {
    margin: 2% 5% 0 5%;
    font-size: 24px;
    padding: 1em 1em 1em 50%;
    border-radius: 12px;
    background-color: white;
    background-image: url("/static/images/time.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-position-y: 50%;
}

@media (max-width: 1100px) {
    .dsm6 {
        padding: 1em;
        background-image: none;
    }
}

.ll{
    padding: 8px 1em 8px 1em;
}

.ll1{
    padding: 8px 1em 8px 1em;

}

.headtext{
    padding-left: 8px;
    font-weight: bolder;
    font-size: 30px;
}

@media (max-width: 1100px){
    .headtext {
        font-size: 40px;
    }
}

.headtext1{
    text-align: center;
    font-weight: bolder;
    padding-left: 16px;
}

.headtext2{
    font-weight: bolder;
    padding-left: 16px;
    text-align: left;
    margin-left: 8px;
    margin-top: 8px
}


@media (max-width: 1000px){
    .headtext1 {
        text-align: left;
    }
}

.gigadiv{
    background-color: #f5ffed;
    font-family: Segoe UI,Roboto,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;;
}

.gigadiv1{
    min-height: 100%;
    min-width: 100%;
    background-color: #f5ffed;
    position: fixed;
    top: 0;
    left: 0;
    font-family: Segoe UI,Roboto,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;;
}

.dsm{
    /*overflow: auto;*/
    /*max-width: 100%;*/
    font-size: 24px;
    border-radius: 12px;
    background: white;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    padding: 100px;

}

.btn1{
    margin: 3% 0 5% 3%;
    background-color: #82ac29;
    font-size: 24px;
    border: none;
    padding: 15px;
    text-align: center;
    position: center;
    display: inline-block;
    border-radius: 12px;

}

li::marker {
  color: #82ac29;
  font-size: 2rem;
}

tr{
    padding-left: 8px;
    font-size: 24px;
}

.divlist{
    flex: 0 1 40%;
}

input{
    padding: 1em;
    margin: 1%;
    font-size: 24px;
    box-sizing: border-box;
    border-color: #82ac29;
    border-radius: 14px;
}

input[type=text]{
    width: 45%;
}

input[type=email]{
    width: 93.5%;
}

input[type=tel]{
    width: 45%;
}

input[type=submit]{
    background-color: #82ac29;
    font-size: 24px;
    border: none;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
}

@media (max-width: 1000px) {
    input[type=submit] {
        font-size: 34px;
    }
}

input[type=checkbox]{
    margin-left: 10px;
    margin-right: 1em;
    transform: scale(1.5);
}

.divform{
    margin: auto;
    width: 50%;
}

@media (max-width: 1000px){
    .divform{
        margin: 0;
        width: auto;
        flex-wrap: wrap;
    }
}


